.auto-qop {
  cursor: pointer;
  display: inline;
  margin-left: 10px;
}

.qop-h4 {
  display: inline;
  margin-left: 10px;
}

.comment-input {
  width: 180px;
  margin-left: 20px;
  border-radius: 0;
}

.control-panel-span {
  margin-left: 5px;
  font-size: 1em;
  text-shadow: none;
}

.toggle-switch {
  height: 30px;
}

.smooth-slider-container {
  width: 190px
}

.smooth-slider-input {
  width:60px;
}

.range-toggle-container {
  width: 16em;
}

.top-results-container {
  width: 17em;
}

.template-container {
  width: 340px
}

.template-select {
  width: 265px;
}

.offset-span {
  width: 50px;
}

.offset-input {
  width: 45px;
}

.offset-span-2 {
  width: 90px;
}

.redshift-container {
  width:300px;
}

.redshift-input {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.redshift-span {
  width: 150px;
}

.inline-block {
  display: inline-block;
}

.canvas-container {
  position: absolute;
  top: 165px;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel-header {
  max-height: 41px;
}